.body{
  height: 300vh;
}
.inner{
position: fixed;
background-color: blue;
width: 100px;
height: 100px;
font-size: 2em;
text-align: center;
border: 2px solid black
}

.left{
bottom:0; left:0; 
}
.right{
  bottom:0;right:0;
}
.bottom{
  top:0;right:0;
}
.top{top:0;left:0;}